{
  "extends": ["wesbos"],
  "rules": {
    "no-console": 0,
    "quotes": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "endOfLine": "auto",
        "tabWidth": 2
      }
    ]
  }
}
