body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

h1 {
  color: green;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-container div[class*="row"] {
  display: flex;
}

.board-container div[class*="row"]:nth-child(2) {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.board-container div[class*="row"] div[class*="col"] {
  text-align: center;
  font-size: 24px;

  width: 30px;
  height: 30px;
  padding: 16px;
}

.board-container div[class*="row"] div[class*="col"]:nth-child(2) {
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.reset-button {
  background-color: burlywood;
  border-radius: 12px;
  border: none;
  box-shadow: grey 2px 4px 4px;
  padding: 10px 30px;
}
