body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  font-family: "Roboto", sans-serif;
}

h1 {
  color: green;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-container div[class*="row"] {
  display: flex;
}

.board-container div[class*="row"]:nth-child(2) {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.board-container div[class*="row"] div[class*="col"] {
  text-align: center;
  font-size: 24px;

  width: 30px;
  height: 30px;
  padding: 16px;
}

.board-container div[class*="row"] div[class*="col"]:nth-child(2) {
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.reset-button {
  background-color: burlywood;
}

.play-button {
  background-color: green;
  color: white;
}

button {
  font-size: 24px;
  font-weight: 700;
  border-radius: 12px;
  border: none;
  box-shadow: grey 2px 4px 4px;
  padding: 10px 30px;
}

button:hover {
  cursor: pointer;
}

.turn-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  padding: 30px;
  border-radius: 12px;
  background-color: rgb(240, 238, 238);
  box-shadow: grey 2px 4px 4px;

  font-size: 24px;
}

.current-turn {
  color: green;
  font-size: 32px;
  font-weight: 700;
}

.player-input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.name-input {
  border-radius: 12px;
  border: none;
  background-color: rgb(206, 204, 204);
  padding: 10px;
}

.hidden {
  display: none;
}

.winner {
  font-size: 30px;
  font-weight: 700;

  padding: 30px;
  border-radius: 12px;
  background-color: rgb(240, 238, 238);
  box-shadow: grey 2px 4px 4px;
}
